@model CemKeskin.Models.Classes.ForAdmin
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<body>
    <div id="layoutSidenav">

        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h1 class="mt-4">Eğitimler Bölümü</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Admin Panel/Eğitimler Bölümü</li>
                    </ol>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-user-graduate"></i>
                                    Eğitimlerim Tablosu
                                </div>

                                <table class="table">
                                    <caption>Eğitimlerim Tablosunun Listesi</caption>
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Eğitim Başlığı</th>
                                            <th scope="col">Eğitim Yılı</th>
                                            <th scope="col">Eğitim İçeriği</th>
                                            <th scope="col">Eğitim İkonu</th>
                                            <th scope="col">Konumlandırma</th>
                                            <th scope="col"><a href="@Url.Action("Create","Educations")" class="btn btn-primary">Ekle</a></th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    @foreach (var edu in Model.EducationPage)
                                    {
                                        <tbody>
                                            <tr>
                                                <th scope="row">@edu.Id</th>
                                                <td>@edu.EducationTitle</td>
                                                <td>@edu.EducationYear</td>
                                                <td>@edu.EducationContent</td>
                                                <td>@edu.EducationIcon</td>
                                                <td>

                                                    @if (edu.ResumeId == 1)
                                                    {
                                                        <p>Sol</p>
                                                    }
                                                    else
                                                    {
                                                        <p>Sağ</p>
                                                    }

                                                </td>
                                                <td><a href="@Url.Action("Operations","Educations", new {id = edu.Id })" class="btn btn-success ">Güncelle</a></td>
                                                <td><a href="@Url.Action("Delete","Educations", new {id = edu.Id })" class="btn btn-danger" style="width:87px;">Sil</a></td>
                                            </tr>
                                        </tbody>
                                    }

                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto"></footer>
        </div>
    </div>

</body>

